.bg-white{
    background-color: #FFFFFF;
}
.bg-redDark{
    background-color: #C41414;
}
.bg-redSoft{
    background-color: #EE0824;
}
.bg-redPink{
    background-color: #EB5B5E;
}
.bg-gray{
    background-color: #666666;
}

.bg-rojo{
    background-color: #c41414;
}
.text-rojo{
    color: #c41414;
}

.bg-rojobajo{
    background-color: #eb5b5e;
}

.bg-rojobajo:hover{
    text-decoration: none;
    background-color: #c41414;
}

.bg-gris{
    background-color: #666666;
}

.bordes-redondos{
    border-radius: 7px;
}

footer {
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1em;
    align-self: flex-end;
}

